{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


{% comment %} 
    product.collections.first in order to pick the first collection, 
    in case the product was assigned to more than one collection
{% endcomment %}
{% assign product_collection = product.collections.first %}

{% comment %} 
    the products in the collection are sorted by "best selling", 
    so the first ones will be our bestsellers
{% endcomment %}
{% assign bestsellers = product_collection.products|limit:section.settings.products_to_show %}

<div class="bestsellers-slider-wrapper color-{{ section.settings.color_scheme }} gradient no-js-hidden">
    <div class="bestsellers-slider page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        
        {% if bestsellers %}
            
            <div class="bestsellers-slider__top">
                {% if section.settings.heading %}
                    <h2 class="bestsellers-slider__top-heading inline-richtext {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endif %}

                {%- if section.settings.link_url != blank -%}
                    
                    <a href="{{ section.settings.link_url }}" class="bestsellers-slider__top-link">
                        
                        {% if section.settings.link_text != blank %}

                            {{ section.settings.link_text }}

                        {% endif %}
                        
                    </a>

                {%- endif -%}
            </div>

            <div class="js-products-slider bestsellers-slider__el" data-items-count="{{section.settings.columns_desktop}}" data-items-count-mobile="{{section.settings.columns_mobile}}">
                <div class="swiper-wrapper bestsellers-slider__wrapper">
                    
                    {% for product in bestsellers %}
                        
                        <div class="swiper-slide bestsellers-slider__item">
        
                            {% render 'card-product',
                                card_product: product,
                                media_aspect_ratio: section.settings.image_ratio,
                                show_secondary_image: section.settings.show_secondary_image,
                                show_vendor: section.settings.show_vendor,
                                show_rating: true,
                                lazy_load: true,
                                section_id: section.id
                            %}
        
                        </div>
        
                    {% endfor %}
        
                </div>        
                <div class="bestsellers-slider__arrow-container bestsellers-slider__arrow-container--prev">
                    <a href="#" class="bestsellers-slider__arrow bestsellers-slider__arrow--prev swiper-button-prev">
                        <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.75 1.41666L9.33333 8.99999L1.75 16.5833" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="bestsellers-slider__arrow-container bestsellers-slider__arrow-container--next">
                    <a href="#" class="bestsellers-slider__arrow bestsellers-slider__arrow--next swiper-button-next">
                        <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.75 1.41666L9.33333 8.99999L1.75 16.5833" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>

            {%- if section.settings.link_url != blank -%}
                    
                <a href="{{ section.settings.link_url }}" class="bestsellers-slider__mobile-link">
                    
                    {% if section.settings.link_text != blank %}

                        {{ section.settings.link_text }}

                    {% endif %}
                    
                </a>

            {%- endif -%}

        {% endif %}

    </div>
</div>

{% schema %}
{
  "name": "t:sections.bestsellers-slider.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Bestsellers",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
        "type": "text",
        "id": "link_text",
        "default": "See all",
        "label": "t:sections.bestsellers-slider.settings.link_text.label"
    },
    {
        "type": "url",
        "id": "link_url",
        "label": "t:sections.bestsellers-slider.settings.link_url.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.bestsellers-slider.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 0.1,
      "default": 4,
      "label": "t:sections.bestsellers-slider.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.bestsellers-slider.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.bestsellers-slider.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.bestsellers-slider.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.bestsellers-slider.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.bestsellers-slider.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.bestsellers-slider.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.bestsellers-slider.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.bestsellers-slider.settings.show_rating.label",
      "info": "t:sections.bestsellers-slider.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.bestsellers-slider.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.bestsellers-slider.settings.columns_mobile.label",
      "options": [
        {
          "value": "1.55",
          "label": "t:sections.bestsellers-slider.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.bestsellers-slider.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.bestsellers-slider.presets.name"
    }
  ]
}
{% endschema %}